@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #a15638,#2f2e41 */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  background-color: #0f172a;
}
