@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #725043,#323C53 */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-image: linear-gradient(to left top, #323c53 0%, #725043 90%);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
